In [59]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [65]:
#first dataframe
df_canada_temporary_worker = pd.read_csv("../Dataset/IRCC_FF_TR_2017_05_CSV.csv", encoding="ISO-8859-1")
#second dataframe
df_canada_temp_pr = pd.read_csv("../Dataset/IRCC_FF_PR_2017_15_CSV_pr_contry.csv", encoding="ISO-8859-1")
df_canada_temporary_worker.head()
df_canada_temp_pr.head()

,Year/année,Source Country,Pays d'origine,Number/Nombre
0,2008,India,Inde,28255
1,2008,Philippines,Philippines,24883
2,2008,"China, People's Republic of","Chine, République populaire de",30030
3,2008,Syria,Syrie,919
4,2008,United States of America,États-Unis d'Amérique,10186

In [62]:
#clean first dataframe
del df_canada_temporary_worker["Unnamed: 1"]

df_canada_temporary_worker = df_canada_temporary_worker.rename(columns={'Unnamed: 0': "Country"})

In [66]:
#clean second dataframe
del df_canada_temp_pr["Pays d'origine"]
df_canada_temp_pr = df_canada_temp_pr.rename(columns={"Year/année": "Year", "Source Country":"Country", "Number/Nombre":"Number"})

In [63]:
df_canada_temporary_worker
df_canada_temporary_worker["Mean"] = 0
df_canada_temporary_worker["Mean"] = (df_canada_temporary_worker["2008"]+df_canada_temporary_worker["2009"]\
                                     +df_canada_temporary_worker["2010"] + df_canada_temporary_worker["2011"] + df_canada_temporary_worker["2012"] \
                                     + df_canada_temporary_worker["2013"] + df_canada_temporary_worker["2014"] + df_canada_temporary_worker["2015"] \
                                     + df_canada_temporary_worker["2016"] + df_canada_temporary_worker["2017"])/10

In [84]:
df_canada.sort_values("Mean", ascending = False)

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Mean
0,Philippines,46972,51292,44840,41762,40744,43689,39925,23642,14718,11901,35948.5
1,India,8332,8341,7519,5974,6698,8033,6251,3335,3288,5749,6352.0
5,United States of America,6241,6182,5019,4937,5755,5875,4481,3216,1918,1584,4520.8
3,Mexico,4792,4449,2787,4080,3003,4245,3879,2493,7961,2574,4026.3
7,United Kingdom and Overseas Territories,5796,5656,4198,3792,4070,4969,3889,2465,1597,1228,3766.0
6,France,2824,3098,3152,2981,3086,3312,3249,2502,1938,1424,2756.6
2,Guatemala,1113,1239,1471,1520,1998,2488,2725,3140,4278,5603,2557.5
4,"Korea, Republic of",3469,3694,2720,2204,2485,3334,2561,1412,1415,2158,2545.2
9,"China, People's Republic of",2724,2235,1716,1637,1668,1755,1397,907,938,1037,1601.4
10,Jamaica,1116,1117,1123,1239,1412,2255,2464,1474,1331,846,1437.7
18,Germany,2752,2366,1392,1147,1076,1161,870,515,386,370,1203.5
8,Thailand,864,993,1234,1161,1404,1625,1541,997,946,1171,1193.6
12,Japan,2029,1821,1243,782,839,1106,906,484,389,616,1021.5
19,"Ireland, Republic of",535,583,543,517,1245,2095,1552,785,478,359,869.2
13,Ukraine,1087,1099,720,673,768,1173,1181,814,584,593,869.2
16,Israel,923,935,703,650,778,1072,885,550,351,382,722.9
17,Poland,1059,764,386,381,749,1262,1142,658,394,374,716.9
15,Portugal,753,602,378,386,906,1383,1092,603,497,514,711.4
21,Australia,1244,1068,788,664,652,721,597,419,357,341,685.1
11,Italy,454,473,408,403,585,942,962,744,670,824,646.5
23,"South Africa, Republic of",985,933,826,693,639,628,532,362,276,251,612.5
14,Brazil,975,948,971,405,384,437,386,277,339,532,565.4
28,Romania,1001,814,449,472,469,625,498,261,178,169,493.6
43,Sri Lanka,642,582,437,397,370,465,341,154,93,84,356.5
39,New Zealand,544,519,427,421,370,419,329,262,163,108,356.2
22,Spain,233,254,236,222,396,593,595,427,295,296,354.7
30,"Netherlands, The",478,501,380,335,362,395,337,267,258,161,347.4
20,Honduras,227,322,138,318,427,468,391,389,352,352,338.4
27,Nepal,246,260,225,209,247,416,568,413,217,171,297.2
24,Croatia,88,86,44,68,168,604,786,564,308,199,291.5
45,Colombia,876,656,362,203,165,193,137,77,72,81,282.2
32,Russia,518,415,330,256,241,293,264,192,136,148,279.3
31,Hungary,159,201,183,219,255,368,397,269,162,152,236.5
34,"Indonesia, Republic of",165,184,173,195,276,395,382,211,167,137,228.5
37,Pakistan,284,270,200,194,215,337,319,169,149,126,226.3
29,Belgium,190,236,219,204,211,280,241,183,215,162,214.1
36,Taiwan,168,345,411,147,159,267,247,111,94,127,207.6
46,Peru,305,306,245,211,247,236,196,121,88,80,203.5
33,"Serbia, Republic of",144,177,127,126,147,296,316,203,121,138,179.5
48,Chile,406,313,148,126,136,194,174,89,52,78,171.6
26,Greece,84,94,61,61,156,281,308,168,130,172,151.5
25,Vietnam,230,182,124,90,157,185,158,78,73,192,146.9
38,Czech Republic,109,106,85,85,146,271,272,133,113,111,143.1
41,Turkey,239,198,152,139,120,150,120,64,71,103,135.6
42,Sweden,169,158,132,124,126,136,105,104,92,92,123.8
35,Norway,117,122,73,72,97,143,188,146,134,132,122.4
49,"Trinidad and Tobago, Republic of",197,205,117,107,105,146,58,48,43,76,110.2
47,Argentina,161,122,93,77,83,86,79,56,67,79,90.3
44,Iran,93,111,82,72,79,90,58,44,60,83,77.2
40,Nicaragua,65,67,29,54,58,69,86,53,72,107,66.0

In [149]:
df_canada_temp_pr.head()
group_df_canada_temp_pr = df_canada_temp_pr.pivot(index="Country", columns="Year", values="Number")


group_df_canada_temp_pr.reset_index(inplace=True)
group_df_canada_temp_pr["Mean"] = group_df_canada_temp_pr[2008]+group_df_canada_temp_pr[2009]+group_df_canada_temp_pr[2010]\
                                +group_df_canada_temp_pr[2011]+group_df_canada_temp_pr[2012]+group_df_canada_temp_pr[2013]\
                                +group_df_canada_temp_pr[2014]+group_df_canada_temp_pr[2015]+group_df_canada_temp_pr[2016]\
                                +group_df_canada_temp_pr[2017]

group_df_canada_temp_pr.sort_values("Mean", ascending = False).head(3)

Year,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Mean
147,Philippines,24883,28568,38615,36758,34299,29530,40033,50838,41812,40851,366187
78,India,28255,29448,34225,27486,30914,33078,38335,39526,39792,51653,352712
34,"China, People's Republic of",30030,29617,30379,28491,33009,34114,24628,19534,26854,30281,286937

In [152]:
group_df = df_canada_temp_pr.groupby(["Country"])
group_mean_df = pd.DataFrame({"Mean": group_df["Number"].mean()
    
}) 
group_mean_df
group_mean_df.sort_values("Mean", ascending = False).head(3)

                                Mean
Country
Philippines                  36618.7
India                        35271.2
China, People's Republic of  28693.7